
# ===================================
# API
# ===================================
API_ADDR=:8081


# ===================================
# DATABASE
# ===================================
DATABASE_URL=postgresql://postgres:postgres@localhost:54322/postgres?sslmode=disable


# ===================================
# AUTH
# ===================================
AUTH_PROVIDER=supabase
AUTH_BASE_URL=http://host.docker.internal:54321
AUTH_SECRET_KEY=your_auth_secret_key
AUTH_JWT_SECRET=dev-jwt-secret


# ===================================
# STORAGE
# ===================================
STORAGE_PROVIDER=supabase
STORAGE_BASE_URL=http://host.docker.internal:54321
STORAGE_SECRET_KEY=your_storage_secret_key
STORAGE_BUCKET=attachments


# ===================================
# CORS
# ===================================
CORS_ALLOWED_ORIGINS=http://localhost:8082,http://localhost:5173